#pragma code_page(65001) // UTF-8
#include <windows.h>
#include "resource.h"

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

IDD_OPTIONS DIALOGEX 0, 0, 250, 150
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "IP 插件设置"
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
    CONTROL "显示内网IP", IDC_CHECK_INTERNAL, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 10, 80, 12
    CONTROL "显示外网IP", IDC_CHECK_EXTERNAL, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 120, 10, 80, 12

    LTEXT   "首选网卡:", -1, 10, 35, 60, 12
    COMBOBOX IDC_EDIT_ADAPTER, 75, 33, 160, 100, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP

    LTEXT   "刷新间隔(分钟):", -1, 10, 60, 80, 12
    EDITTEXT IDC_EDIT_REFRESH, 95, 58, 40, 14, ES_NUMBER | ES_AUTOHSCROLL

    LTEXT   "分隔符:", -1, 10, 85, 60, 12
    EDITTEXT IDC_EDIT_SEPARATOR, 75, 83, 80, 14, ES_AUTOHSCROLL

    DEFPUSHBUTTON "确定", IDOK, 110, 115, 50, 14
    PUSHBUTTON     "取消", IDCANCEL, 170, 115, 50, 14
END

